.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-left: 48px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.khan__buy-link:hover{
  opacity: 0.5;
}

.khan__buy-link::after {
  content: '\2192';
  margin-left: 7px;
}




